@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Gabarito:wght@400..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

.maxwidth-1200 {
  max-width: 1200px;
}

:root {
  font-family: 'Gabarito', 'Courier New', Courier, monospace;
}

h1,
company {
  font-family: 'Contrail One', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav a {
  &:hover {
    color: white;
    text-decoration: wavy;
  }
  &.active {
    font-weight: bold;
    color: black;
  }
}
